{% schema %}
 {
  "name": "Hero",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
     {
      "type": "text",
      "id": "link_1_title",
      "label": "Link 1 Title"
    },
    {
      "type": "url",
      "id": "link_1_url",
      "label": "Link 1 URL"
    },
    {
      "type": "text",
      "id": "link_2_title",
      "label": "Link 2 Title"
    },
    {
      "type": "url",
      "id": "link_2_url",
      "label": "Link 2 URL"
    },
    {
      "type": "text",
      "id": "link_3_title",
      "label": "Link 3 Title"
    },
    {
      "type": "url",
      "id": "link_3_url",
      "label": "Link 3 URL"
    },
    {
      "type": "text",
      "id": "link_4_title",
      "label": "Link 4 Title"
    },
    {
      "type": "url",
      "id": "link_4_url",
      "label": "Link 4 URL"
    }
  ]
}
{% endschema %}

<section class="hero">
  <div class="hero-background" style="background-image: url('{{ section.settings.background_image | image_url }}');">
    <div class="hero-content">
      <h4>{{ section.settings.subheading }}</h4>
      <h1>{{ section.settings.heading }}</h1>
      <div class="button-links">
        <a href="{{ section.settings.link_1_url }}" class="button">{{ section.settings.link_1_title }}</a>
        <a href="{{ section.settings.link_2_url }}" class="button">{{ section.settings.link_2_title }}</a>
        <a href="{{ section.settings.link_3_url }}" class="button">{{ section.settings.link_3_title }}</a>
        <a href="{{ section.settings.link_4_url }}" class="button">{{ section.settings.link_4_title }}</a>
      </div>
    </div>
  </div>
</section>