{% schema %}
{
  "name": "Icon Repeater",
  "settings": [
    {
      "type": "image_picker",
      "id": "icon_1_image",
      "label": "Icon 1 Image"
    },
    {
      "type": "text",
      "id": "icon_1_text",
      "label": "Icon 1 Text"
    },
    {
      "type": "image_picker",
      "id": "icon_2_image",
      "label": "Icon 2 Image"
    },
    {
      "type": "text",
      "id": "icon_2_text",
      "label": "Icon 2 Text"
    },
    {
      "type": "image_picker",
      "id": "icon_3_image",
      "label": "Icon 3 Image"
    },
    {
      "type": "text",
      "id": "icon_3_text",
      "label": "Icon 3 Text"
    }
  ]
}
{% endschema %}

<section class="icon-repeater">
  <div class="icon">
    <img src="{{ section.settings.icon_1_image | image_url }}" alt="Icon 1" width="100" height="100">
    <p>{{ section.settings.icon_1_text }}</p>
  </div>
  <div class="icon">
    <img src="{{ section.settings.icon_2_image | image_url }}" alt="Icon 2" width="100" height="100">
    <p>{{ section.settings.icon_2_text }}</p>
  </div>
  <div class="icon">
    <img src="{{ section.settings.icon_3_image | image_url }}" alt="Icon 3" width="100" height="100">
    <p>{{ section.settings.icon_3_text }}</p>
  </div>
</section>
